<div 
  class="error-page container"
>
  <div 
    class="col-md-8 col-12 offset-md-2"
  >
      <img 
        class="img-error" 
        src="assets/error-404.png" 
        alt="Not Found"
      >
      <div 
        class="text-center"
      >
          <h1 
            class="error-title"
          >
            Oops
          </h1>
          <p 
            class='fs-5 text-gray-600'
          >
            Nous n'avons trouvé aucun article dans votre panier
          </p>
      </div>
  </div>
</div>