<ltd-message>
  <div 
    class="error-page container"
  >
  <div 
    class="col-md-8 col-12 offset-md-2"
    >
    <img 
      class="img-error" 
      src="assets/error-404.png" 
      alt="Not Found"
    >
      <div 
        class="text-center"
      >
          <h1 
            class="error-title"
          >
              Oops !
          </h1>
          <p 
            class="fs-5 text-gray-600"
          >
            Une erreur s'est produite, merci de ré-essayer plus tard
          </p>
          <a 
          routerLink="" 
          class="btn btn-lg btn-outline-primary mt-3"
          >
          Retourner à l'accueil
        </a>
      </div>
  </div>
</div>
</ltd-message>